
.detail-wrapper
  = render 'products/show'
  .modal_delete_js
    .modal_delete_btn_js
    .modal_delete_content_js
      %h1 確認
      %p 削除すると二度と復活できません。
      %p 削除するかわりに停止する事もできます。
      %br
      %p 本当に削除しますか？
      =link_to "キャンセル" , "" ,class:"modal_cancel"
      =link_to  "削除する" , user_path(@product.id) , class:"real_delete_btn" , method: :delete

  .detail-wrapper__btns
    = button_to "商品の編集", "/products/#{@product.id}/edit", method: :get, class:"detail-wrapper__btns__ele"
    %p.text-space or
    =button_to "出品を一旦停止する" , root_path(@product) , class:"detail-wrapper__btns__ele" , id:"gray-btn"
    =button_to "この商品を削除する" , "" , class:"detail-wrapper__btns__ele delete-modal" , id:"gray-btn" #モーダルを呼びだす為のボタン
  = render 'products/comment'
  %br
  %br
  = render 'shared/footer'

