.exhibit-wrapper
  = render 'shared/header'
  = render 'shared/breadcrumbs'

  .exhibit-wrapper__side
  = render "shared/side_bar"

  .exhibit-wrapper__main
    .exhibit-wrapper__main__text 出品した商品
    %ul.exhibit-wrapper__main__list
      %li.exhibit-wrapper__main__list__ele1
        =link_to "出品中" , exhibit_user_path(current_user) ,class: "exhibit-wrapper__main__list__ele1__link"
      %li.exhibit-wrapper__main__list__ele2
        =link_to "取引中" , business_user_path(current_user) ,class: "exhibit-wrapper__main__list__ele2__link"
      %li.exhibit-wrapper__main__list__ele3
        =link_to "売却済み" , finish_user_path(current_user) ,class: "exhibit-wrapper__main__list__ele3__link"
    .exhibit-wrapper__main__index
      %ul.exhibit-wrapper__tab
        - if @products.empty?
          %li.exhibit-wrapper__tab__list
            .exhibit-wrapper__main__image
            = image_tag("#{asset_path "user/logo-gray.png"}",class:"exhibit-image")
            %h1.exhibit-wrapper__main__text 出品中の商品はありません
        - else
          - @products.each do | product |
            %li.exhibit-wrapper__tab__list
              = link_to detail_user_path(product.id), class:"exhibit-link" do
                = product.name
              .exhibit-wrapper__tab__list__icon
                .list__item__count
                  %i.far.fa-heart
                .list__item__count
                  %i.far.fa-comment-alt
                %span.exhibit-wrapper__tab__list__tag
                  出品中
              - product.images.each do |image| 
                = image_tag image
                              
  = render 'shared/footer'