.default-container
  - breadcrumb :mypage
  = render 'shared/exhibition_button'
  %main.container
    = render "shared/side_bar"

    .content
      .content__mypage__icon
        %figure
          = image_tag("#{asset_path "user/member_photo.png"}")
        .content__mypage__icon__name
          = link_to current_user.nickname ,user_path(current_user)
        .content__mypage__icon__name__number
          %div
            評価
            %span
              0
          %div               
            出品数
            %span
              0                   
      .content__mypage__tab
        %input#message{checked: "checked",name: "content__mypage__tab__item",type: "radio"}
        %label.content__mypage__tab__item{for: "message"}お知らせ
        %input#doinglist{name: "content__mypage__tab__item",type: "radio"}/
        %label.content__mypage__tab__item{for: "doinglist"}やることリスト

        #message.content__mypage__contents
          #mypage.content__mypage__contents__list
            
            %li#list
              = link_to '#', class:'mypage-item-link' do
                %figure
                  = image_tag("#{asset_path "user/merucari.logo.jpg"}")
                .mypage-item-link__body
                  .mypage-item-link__text 
                    出品はじめかたガイド】安心でかんたんに出品する方法をCHECKしてみよう！
                  .mypage-item-link__time
                    %i.far.fa-clock
                      %span  ２日前
                %i.fa.fa-angle-right

            %li#list
              = link_to '#', class:'mypage-item-link' do
                %figure
                  = image_tag("#{asset_path "user/merucari.logo.jpg"}")
                .mypage-item-link__body
                  .mypage-item-link__text 
                    明日、P999還元お得チケットの有効期限が切れます！タップして詳細を確認しましょう。
                  .mypage-item-link__time
                    %i.far.fa-clock
                      %span  ２日前
                %i.fa.fa-angle-right

              %li#list
                = link_to '#', class:'mypage-item-link' do
                  %figure
                    = image_tag("#{asset_path "user/merucari.logo.jpg"}")
                  .mypage-item-link__body
                    .mypage-item-link__text 
                      明日、P999還元お得チケットの有効期限が切れます！タップして詳細を確認しましょう。
                    .mypage-item-link__time
                      %i.far.fa-clock
                        %span  ２日前
                  %i.fa.fa-angle-right
              
              %li#list
                = link_to '#', class:'mypage-item-link' do
                  %figure
                    = image_tag("#{asset_path "user/merucari.logo.jpg"}")
                  .mypage-item-link__body
                    .mypage-item-link__text 
                      明日、P999還元お得チケットの有効期限が切れます！タップして詳細を確認しましょう。
                    .mypage-item-link__time
                      %i.far.fa-clock
                        %span  ２日前
                  %i.fa.fa-angle-right
              
              %li#list
                = link_to '#', class:'mypage-item-link' do
                  %figure
                    = image_tag("#{asset_path "user/merucari.logo.jpg"}")
                  .mypage-item-link__body
                    .mypage-item-link__text 
                      明日、P999還元お得チケットの有効期限が切れます！タップして詳細を確認しましょう。
                    .mypage-item-link__time
                      %i.far.fa-clock
                        %span  ２日前
                  %i.fa.fa-angle-right
                  
          .mypage-go-list
            = link_to '#' do
              一覧をみる

        %ul#doinglist.content__mypage__contents
          %li.content__mypage__contents__doinglist
            %figure
              = image_tag("#{asset_path "user/merucari.gray.png"}")
            .content__mypage__contents__doinglist__text
              現在、やることリストはありません


      %section.content__mypage__tab__products
        %h2
          購入した商品
      .content__mypage__tab   
        %input#doing{checked: "checked",name: "content__mypage__tab__products__item",type: "radio"}
        %label.content__mypage__tab__products__item{for: "doing"}取引中
        %input#end{name: "content__mypage__tab__products__item",type: "radio"}/
        %label.content__mypage__tab__products__item{for: "end"}過去の取引

        %ul#doing.content__mypage__contents
          %li.content__mypage__contents__doing
            %figure
              = image_tag("#{asset_path "user/merucari.gray.png"}")
            .content__mypage__contents__doinglist__text
              取引中の商品がありません
        %ul#end.content__mypage__contents
          %li.content__mypage__contents__end
            %figure
              = image_tag("#{asset_path "user/merucari.gray.png"}")
            .content__mypage__contents__doinglist__text
              過去に取引した商品がありません
