+.default-container
  = render 'shared/header'
  = render 'shared/breadcrumbs'
  %main.container
    = render "shared/side_bar"

    .content
      %section.content__mypage__icon
        %figure
          = image_tag("#{asset_path "user/member_photo.png"}")
        .content__mypage__icon__name
          = link_to "yuki" ,user_path(1)
        .content__mypage__icon__name__number
          %div
            評価
            %span
              0
          %div               
            出品数
            %span
              0                   
      .content__mypage__tab
        %input#message{checked: "checked",name: "content__mypage__tab__item",type: "radio"}
        %label.content__mypage__tab__item{for: "message"}お知らせ
        %input#doinglist{name: "content__mypage__tab__item",type: "radio"}/
        %label.content__mypage__tab__item{for: "doinglist"}やることリスト

        #message.content__mypage__contents
          #mypage.content__mypage__contents__list
            
            %li#list
              %a.mypage-item-link{href: ""}
                %figure
                  = image_tag("#{asset_path "user/merucari.logo.jpg"}")
                .mypage-item-link__body
                  .mypage-item-link__text 
                    出品はじめかたガイド】安心でかんたんに出品する方法をCHECKしてみよう！
                  .mypage-item-link__time
                    %i.far.fa-clock
                      %span  ２日前
                %i.fa.fa-angle-right

            %li#list
              %a.mypage-item-link{href: ""}
                %figure
                  = image_tag("#{asset_path "user/merucari.logo.jpg"}")
                .mypage-item-link__body
                  .mypage-item-link__text 
                    明日、P999還元お得チケットの有効期限が切れます！タップして詳細を確認しましょう。
                  .mypage-item-link__time
                    %i.far.fa-clock
                      %span  ２日前
                %i.fa.fa-angle-right

              %li#list
                %a.mypage-item-link{href: ""}
                  %figure
                    = image_tag("#{asset_path "user/merucari.logo.jpg"}")
                  .mypage-item-link__body
                    .mypage-item-link__text 
                      明日、P999還元お得チケットの有効期限が切れます！タップして詳細を確認しましょう。
                    .mypage-item-link__time
                      %i.far.fa-clock
                        %span  ２日前
                  %i.fa.fa-angle-right
              
              %li#list
                %a.mypage-item-link{href: ""}
                  %figure
                    = image_tag("#{asset_path "user/merucari.logo.jpg"}")
                  .mypage-item-link__body
                    .mypage-item-link__text 
                      明日、P999還元お得チケットの有効期限が切れます！タップして詳細を確認しましょう。
                    .mypage-item-link__time
                      %i.far.fa-clock
                        %span  ２日前
                  %i.fa.fa-angle-right
              
              %li#list
                %a.mypage-item-link{href: ""}
                  %figure
                    = image_tag("#{asset_path "user/merucari.logo.jpg"}")
                  .mypage-item-link__body
                    .mypage-item-link__text 
                      明日、P999還元お得チケットの有効期限が切れます！タップして詳細を確認しましょう。
                    .mypage-item-link__time
                      %i.far.fa-clock
                        %span  ２日前
                  %i.fa.fa-angle-right
                  
          .mypage-go-list
            %a{href: ""}一覧をみる