.header
  .header__inner

    .header__inner__upper
      .logo
        = link_to '' , class:'logo__link' do
          = image_tag('//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1905591235' , size: '134x36', alt:'mercari',class:'logo__img')

      .seach
        %form.seach__form
          %input.seach__form__input{name: "keyword", placeholder: "何かお探しですか？", type: "search", value: ""}
          %button.seach__form__icon{type: "submit"}
            %i.fas.fa-search

    .header-nav-box
      .serch-nav-box1
        %ul.header-nav-left
          %li#category.header-nav-left__nav1
            = link_to '', class:'header-nav-left__nav1__link navbar navleft' do
              %i.fa.fa-list-ul.fa-1.3x
              %span.header-nav-left__nav1__link__character　カテゴリーから探す
            .category
              %ul.category__child
                %li
                  %a{href: "#"} レディース
                %li
                  %a{href: "#"} メンズ
                %li
                  %a{href: "#"} ベビー・キッズ
                %li
                  %a{href: "#"} インテリア・住まい・小物
                %li
                  %a{href: "#"} 本・音楽・ゲーム
                %li
                  %a{href: "#"} おもちゃ・ホビー・グッズ
                %li
                  %a{href: "#"} コスメ・香水・美容
                %li
                  %a{href: "#"} 家電・スマホ・カメラ
                %li
                  %a{href: "#"} スポーツ・レジャー
                %li
                  %a{href: "#"} ハンドメイド
                %li
                  %a{href: "#"} チケット
                %li
                  %a{href: "#"} 自動車・オートバイ
                %li
                  %a{href: "#"} その他
                %li
                  %a{href: "#"} カテゴリー一覧

              %ul.category__grandchild 
                %li
                  %a{href: "#"} トップス
                %li
                  %a{href: "#"} ジャケット/アウター
                %li
                  %a{href: "#"} パンツ
                %li
                  %a{href: "#"} スカート
                %li
                  %a{href: "#"} ワンピース
                %li
                  %a{href: "#"} 靴
                %li
                  %a{href: "#"} ルームウェア/パジャマ
                %li
                  %a{href: "#"} レッグウェア
                %li
                  %a{href: "#"} 帽子
                %li
                  %a{href: "#"} バッグ
                %li
                  %a{href: "#"} アクセサリー
                %li
                  %a{href: "#"} ヘアアクセサリー
                %li
                  %a{href: "#"} 小物
                %li
                  %a{href: "#"} 時計

              %ul.category__GGC
                %li
                  %a{href: "#"} Tシャツ/カットソー(半袖/袖なし)
                %li
                  %a{href: "#"} Tシャツ/カットソー(七分/長袖)
                %li
                  %a{href: "#"} シャツ/ブラウス(半袖/袖なし)
                %li
                  %a{href: "#"} シャツ/ブラウス(七分/長袖)
                %li
                  %a{href: "#"} ポロシャツ
                %li
                  %a{href: "#"} キャミソール
                %li
                  %a{href: "#"} タンクトップ
                %li
                  %a{href: "#"} ホルターネック
                %li
                  %a{href: "#"} ニット/セーター
                %li
                  %a{href: "#"} チュニック
                %li
                  %a{href: "#"} カーディガン/ボレロ
                %li
                  %a{href: "#"} アンサンブル
                %li
                  %a{href: "#"} ベスト/ジレ
                %li
                  %a{href: "#"} パーカー


          %li#brand.header-nav-left__nav2
            = link_to '' , class:'header-nav-left__nav2__link navbar navleft' do
              %i.fa.fa-tag
              %span.header-nav-left__nav2__link__brand　ブランドから探す
            %ul
              %li
                %a{href: "#"} シャネル
              %li
                %a{href: "#"} ナイキ
              %li
                %a{href: "#"} ルイ ヴィトン
              %li
                %a{href: "#"} シュプリーム
              %li
                %a{href: "#"} アディダス
              %li
                %a{href: "#"} ブランド一覧

      .serch-nav-box2
        %ul.header-nav-right

          %li.header-nav-right__nice
            = link_to '', class:'header-nav-right__nice__link navbar', id:'good' do
              %i.far.fa-heart
              %span.header-nav-right__nice__link__nice　いいね！一覧

          %li.header-nav-right__info
            = link_to '', class:'header-nav-right__info__link navbar', id:'notification' do
              %i.fa.fa-bell
              %span.header-nav-right__info__link__info　お知らせ
            .notification-box
              %ul
                %li
                



          %li.header-nav-right__todo
            = link_to '' , class:'header-nav-right__todo__link navbar', id:'todo' do
              %i.fa.fa-check
              %span.header-nav-right__todo__link__todo　やることリスト

          %li.header-nav-right__mypage
            = link_to '', class:'header-nav-right__mypage__link navbar', id:'mypage' do
              %i.fa.fa-smile
              %span.header-nav-right__mypage__link__mypage　マイページ
