.header
  .header__inner

    .header__inner__upper
      .logo
        = link_to root_path, class:'c' do
          = image_tag('//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1905591235.jpg' , class:"logo-img")

      .search
        %form.search__form
          %input.search__form__input{name: "keyword", placeholder: "何かお探しですか？", type: "search", value: ""}
          %button.search__form__icon{type: "submit"}
            %i.fas.fa-search

    .header-nav
      .search-nav-left
        %ul.header-nav-left
          %li#category.header-nav-left__nav1
            = link_to '', class:'header-nav-left__nav1__link navbar navleft' do
              %i.fa.fa-list-ul.fa-1.3x
              %span.header-nav-left__nav1__link__character カテゴリーから探す
            %ul.category__parent
              - @parent.each do |parent| 
                %li
                  = link_to "#{parent.name}", '#', class:'category__list__parent'  

                  %ul.category__child
                    - parent.children.each do |child|
                      %li
                        = link_to "#{child.name}", '#', class:'category__list__child'
                        %ul.category__grandchild
                          - child.children.each do |grand_child|
                            %li
                              = link_to "#{grand_child.name}", '#', class:'category__list__grandchild'
            
        
          %li#brand.header-nav-left__nav2
            = link_to '' , class:'header-nav-left__nav2__link navbar navleft' do
              %i.fa.fa-tag
              %span.header-nav-left__nav2__link__brand ブランドから探す
            %ul
              %li
                = link_to 'シャネル', '#', class:'brand__list'
              %li
                = link_to 'ナイキ', '#', class:'category__list__child'
              %li
                = link_to 'ルイ ヴィトン', '#', class:'category__list__child'
              %li
                = link_to 'シュプリーム', '#', class:'category__list__child'
              %li
                = link_to 'アディダス', '#', class:'category__list__child'
              %li
                = link_to 'ブランド一覧', '#', class:'category__list__child'
      
      - if user_signed_in?   #ログインしてたら
        %ul.header-nav-right
          %li#good.header-nav-right__nice
            = link_to '', class:'header-nav-right__nice__link navbar ' do
              %i.far.fa-heart
              %span.header-nav-right__nice__link__nice いいね！一覧

          %li#notification.header-nav-right__info
            = link_to '', class:'header-nav-right__info__link navbar' do
              %i.fa.fa-bell
              %span.header-nav-right__info__link__info お知らせ
            .notification-box
              %ul
                %li
                  = image_tag("/mercari_profile.png") 
                  お知らせ１
                %li
                  = image_tag("/mercari_profile.png") 
                  お知らせ２
                %li
                  = image_tag("/mercari_profile.png") 
                  お知らせ３
                %li
                  = image_tag("/mercari_profile.png") 
                  お知らせ４
                  
          %li#todo.header-nav-right__todo
            = link_to '' , class:'header-nav-right__todo__link navbar' do
              %i.fa.fa-check
              %span.header-nav-right__todo__link__todo やることリスト

          %li#mypage.header-nav-right__mypage
            = link_to users_path, class:'header-nav-right__mypage__link navbar' do
              %i.fa.fa-smile
              %span.header-nav-right__mypage__link__mypage マイページ
            .mypage-box
              .profile__box
                = image_tag("/user-bg.jpg")
                .profile__image
                  = image_tag("/member_photo_noimage.png")
                  .mypage-box__name
                    ユーザー名
                  .mypage-box__score
                    %ul
                      %li
                        評価:0
                      %li
                        出品数:0
                %ul.mypage__sales__points
                  %li
                    売上金
                    .sales
                      ¥0
                      %i.fa.fa-chevron-right
                  %li
                    ポイント
                    .points
                      P0
                      %i.fa.fa-chevron-right
              %ul.mypage-navlist
                %li
                  いいね！一覧
                  %i.fa.fa-chevron-right
                %li
                  出品した商品-出品中
                  %i.fa.fa-chevron-right
                %li
                  出品した商品-取引中
                  %i.fa.fa-chevron-right
                %li
                  出品した商品-売却済み
                  %i.fa.fa-chevron-right
                %li
                  購入した商品-取引中
                  %i.fa.fa-chevron-right
                %li
                  購入した商品-過去の取引
                  %i.fa.fa-chevron-right
        
      - else
        %ul.header-nav-right-signup
          %li
            = link_to "新規登録", new_user_registration_path, class: 'header-nav-right-signup__signup-nav'

           
          %li
            = link_to "ログイン", new_user_session_path, class: 'header-nav-right-signup__login-nav'