%footer.footer-terms
  .footer__inner
    %ul.footer__inner__links
      %li.footer__inner__links__link1
        = link_to"プライバシーポリシー","#"

      %li.footer__inner__links__link2
        = link_to"メルカリ利用規約","#"

      %li.footer__inner__links__link2
        = link_to"特定商取引に関する表記","#"

    .single__footer
      = image_tag("#{asset_path "logo-gray.svg"}")

    %p.footer__inner__c-mark  
      %small © 2019 Mercari
