
= render "shared/header"
= render "shared/breadcrumbs"
.card-new-page
  = render "shared/side_bar"
  .card-new-page__main
    %h2.card-new-page__main__title クレジットカード情報入力

    = form_with url: payjp_cards_path , class: "card-new-form", local: true do |f|
      .card-new-form__inside
        .card-new-form__inside__card-num
          = f.label :card_number,"カード番号",class:"card-new-form__inside__card-num__label"
          %span.card-new-form__inside__card-num__span 必須
          = f.text_field :card_number,class:"card-new-form__inside__card-num__text",placeholder:"半角数字のみ",maxlength:"19"
          %ul.card-new-form__inside__card-num__ul
            %li.card-new-form__inside__card-num__ul__li
              = image_tag("#{asset_path "cards/new/visa.png"}",class:"visa-icon")

            %li.card-new-form__inside__card-num__ul__li
              = image_tag("#{asset_path "cards/new/master-card.png"}",class:"master-icon")

            %li.card-new-form__inside__card-num__ul__li
              = image_tag("#{asset_path "cards/new/saison-card.png"}",class:"saison-icon")

            %li.card-new-form__inside__card-num__ul__li
              = image_tag("#{asset_path "cards/new/jcb.png"}",class:"jcb-icon")

            %li.card-new-form__inside__card-num__ul__li
              = image_tag("#{asset_path "cards/new/american_express.png"}",class:"american-icon")

            %li.card-new-form__inside__card-num__ul__li
              = image_tag("#{asset_path "cards/new/dinersclub.png"}",class:"diners-icon")

            %li.card-new-form__inside__card-num__ul__li
              = image_tag("#{asset_path "cards/new/discover.png"}",class:"discover-icon")

        .card-new-form__inside__expiration-date
          = f.label :expiration_date,"有効期限",class:"card-new-form__inside__expiration-date__label"
          %span.card-new-form__inside__expiration-date__span 必須

          .card-new-form__inside__expiration-date__text
            = f.select :expiration_date ,[["01","01"],["02","02"],["03","03"],["04","04"],["05","05"],["06","06"],["07","07"],["08","08"],["09","09"],["10","10"],["11","11"],["12","12"]],{} , class:"card-new-form__inside__expiration-date__text__select1"
            %i.fa.fa-chevron-down.fa-lg
            %span.card-new-form__inside__expiration-date__text__month 月
                      
            = f.select :expiration_date ,[["19","19"],["20","20"],["21","21"],["22","22"],["23","23"],["24","24"],["25","25"],["26","26"],["27","27"],["28","28"],["29","29"]],{} , class:"card-new-form__inside__expiration-date__text__select2"
            %i.fa.fa-chevron-down.fa-lg
            %span.card-new-form__inside__expiration-date__text__year 年

          .card-new__inside__security__cord
            = f.label :security_cord,"セキュリティコード",class:"card-new__inside__security__cord__label"
            %span.card-new__inside__security_cord__span 必須
            = f.text_field :security_cord ,class:"card-new__inside__security__cord__text",placeholder:"カード背面4桁もしくは3桁の番号",maxlength:"19"
            
            .card-new__inside__security__cord__question
              %i.fas.fa-question-circle
              %span.card-new__inside__security__cord__question__text カード裏面の番号とは?
          
          .card-new__inside__security__cord__js
            %p.card-new__inside__security__cord__js__p　カードの裏側を参照ください。
            .card-new__inside__security__cord__js__image
              = image_tag("#{asset_path "cards/new/seq-card.png"}",class:"js-card-icon")

          .card-new__inside__security__cord__signup
            = f.button "追加する" , class:"card-new__inside__security__cord__signup__btn" ,type: "submit"

= render "shared/footer"
