.footer
  .app-banner
    %img{ src: "#{asset_path "background_img.jpg"}"}/
    .app-banner__pc
      .app-banner__pc__inner
        %h2 スマホでかんたんフリマアプリ
        %p 今すぐ無料ダウンロード！
        .app-banner__icon
          %img{ src: "#{asset_path "mercari_icon.png"}"}/
          %ul.app-list
            %li
              %img{ src: "#{asset_path "app-store.svg"}"}/
            %li
              %img{ src: "#{asset_path "google-play.svg"}"}/
      %figure.phone
        %img{ src: "#{asset_path "phone_image.png"}"}/

  .global-footer
    %nav.footer-info
      .footer-cell
        %h2.footer-head メルカリについて
        %ul
          %li
            会社概要（運営会社）
          %li
            採用情報
          %li
            プレスリリース
          %li
            公式ブログ
          %li
            メルカリロゴ利用ガイドライン
          .footer-social__link
            %i.fab.fa-twitter
            %i.fab.fa-facebook-square
      .footer-cell
        %h2.footer-head ヘルプ＆ガイド
        %ul
          %li
            メルカリガイド
          %li
            らくらくメルカリ便
          %li
            ゆうゆうメルカリ便
          %li
            大型メルカリ便
          %li
            車体取引ガイド
          %li
            メルカリあんしん・あんぜん宣言！
          %li
            偽ブランド品撲滅への取り組み
          %li
            メルカリボックス
      .footer-cell
        %h2.footer-head プライバシーと利用規約
        .inner-footer
          .inner-footer__cell
            %ul
              %li
                プライバシーポリシー
              %li
                メルカリ利用規約
              %li
                あんしんスマホサポート制度に関する利用特約
              %li
                コンプライアンスポリシー
          .inner-footer__cell
            %ul
              %li
                個人データの安全管理に係る基本方針
              %li
                特定商取引に関する表記
              %li
                資金決済法に基づく表示
              %li
                法令順守と犯罪抑止のために
              %li
                返品・返金ポリシー
      .footer-cell.footer-nav-lang
        %h2.footer-head 国
        %ul
          %li
            日本
          %li
            United States
    .footer-bottom
      %img{ src: "#{asset_path "logo-white.svg"}"}/
      %span.footer-copyright
        %small © 2019 Mercari
