.pickup
  .pickup__title ピックアップカテゴリー
  = render 'products/products_box'
  = render 'products/products_box'
  = render 'products/products_box'
  = render 'products/products_box'
  = render 'products/products_box'
  = render 'products/products_box'
  = render 'products/products_box'
  = render 'products/products_box'
