.slider
  %figure.slider-campFeature
    = image_tag("#{asset_path "slider/banner-camp.jpg"}")
  %figure.slider-advertisingApp
    = image_tag("#{asset_path "slider/main_bg_pc.jpg"}",class: "slider-advertisingApp__backimage")
    .slider-advertisingApp__content
      = image_tag("#{asset_path "slider/main_content_pc.png"}",class:"slide-advertisingApp__content__smartphone")
      %h2.title スマホでかんたん<br>フリマアプリ
      %h3.leadSentence メルカリはスマホカメラからすぐに出品できる<br>購入時も安心な独自システムのアプリです
      .slider-advertisingApp__content__appBottons
        = image_tag("#{asset_path "slider/app-store.svg"}")
        = image_tag("#{asset_path "slider/google-play.svg"}")
