.confirmation-wrapper
  .header
    = link_to root_path, class:'header__link' do
      = image_tag('/products/logo.svg')

  .main
    .main__sell
      %h2.main__title 購入内容の確認
      = form_with(model: @user, local: true, class: "top-content") do |f|
        .top-content__info
          %figure.top-content__info__image
            - @product.images.each do |image| 
              = image_tag image

          .top-content__info__title
            = @product.name

        .top-content__price
          ¥
          = @product.price
          %span
          = @product.postage
        .top-content__select-points
          %p{class:"top-content__select-points__text"} ポイントを使う
          %i.fas.fa-angle-down
        .select-box
          .select-box__top 所持ポイント: P 33
          .select-box__main
            .select-box__main__content
              %label
                %input{type: "radio",name: "points",class:"select"}
                %p.single-row ポイントを使わない
            .select-box__main__content
              %label
                %input{type: "radio",name: "points",class:"select select--middle"}
                %p すべてのポイントを使う<br>P 33
            .select-box__main__content
              %label
                %input{type: "radio",name: "points",class:"select",id:"part-of-points"}
                %p.single-row 一部のポイントを使う
              = f.number_field :point,placeholder: "使うポイントを入力",class: "how_points"
                
        .top-content__payment
          .top-content__payment__left 支払い金額
          .top-content__payment__right 
            ¥
            = @product.price

        = link_to '購入する' , pay_card_path(@product) , class: "top-content__button", method: :post
      .middle-content
        .middle-content__top 配送先
        .middle-content__middle 
          〒
          = @user.address.zip_code

          %br/
          = @user.address.prefecture.name
          = @user.address.city
          = @user.address.block
          = @user.address.building_number   

        .middle-content__bottom
          = link_to '変更する','', class: "middle-content__bottom__link" 
      .bottom-content
        .bottom-content__top 支払い方法
        .bottom-content__middle 
          .bottom-content__middle__number 
          = image_tag("/visa.svg",class:"bottom-content__middle__image")
        .bottom-content__bottom
          = link_to '変更する','', class: "bottom-content__bottom__link" 
  %footer.footer-terms

  = render 'shared/logofooter'
