.entire
  %header.header
    %h1.header__logo
      = link_to '' , class:'container__logo__link' do
        = image_tag('//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1905591235' , size: '185x50', alt:'mercari')

  .main
    .main__sell
      %h2.main__title 購入内容の確認
      .top-content
        .top-content__top 配送先
        .top-content__main 〒542-0081<br>大阪府大阪市中央区南船場２丁目６−２８ ユタカビル7階<br>真子就有
        = link_to '変更する',class: "top-content__bottom" 



      .middle-content

      .bottom-content

  %footer.footer-terms
    .footer__inner
      %ul.footer__inner__links
        %li.footer__inner__links__link1
          = link_to"プライバシーポリシー","#"

        %li.footer__inner__links__link2
          = link_to"メルカリ利用規約","#"

        %li.footer__inner__links__link2
          = link_to"特定商取引に関する表記","#"

      .footer__inner__logo
        = link_to"特定商取引に関する表記",class:'footer-inner__logo__link' do
          = image_tag('//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?270352715' , size: '80x65', alt:'mercari',class:'logo__img')

      %p.footer__inner__c-mark  
        %small © 2019 Mercari

