.exhibit-wrapper
  - breadcrumb :finish
  
  .exhibit-wrapper__side
  = render "shared/side_bar"

  .exhibit-wrapper__main
    .exhibit-wrapper__main__text 売却済みの商品
    %ul.exhibit-wrapper__main__list
      %li.exhibit-wrapper__main__list__ele
        =link_to "出品中" , exhibit_product_path(current_user) ,class: "exhibit-wrapper__main__list__ele__link"
      %li.exhibit-wrapper__main__list__ele
        =link_to "取引中" , business_product_path(current_user) ,class: "exhibit-wrapper__main__list__ele__link"
      %li.exhibit-wrapper__main__list__ele.finish-btn
        =link_to "売却済み" , finish_product_path(current_user) ,class: "exhibit-wrapper__main__list__ele__link"
    .exhibit-wrapper__main__index
      - unless @products.empty?
        .exhibit-wrapper__main__image
          = image_tag("#{asset_path "user/logo-gray.png"}",class:"exhibit-image")
          %h1.exhibit-wrapper__main__text 売却済みの商品はありません
      - else
        - @products.each do | product |
          %li.exhibit-wrapper__tab__list
            = link_to detail_product_path(product.id), class:"exhibit-link" do
              = product.name
          .exhibit-wrapper__tab__list__icon
            .list__item__count
              %i.far.fa-heart
            .list__item__count
              %i.far.fa-comment-alt
              %span.exhibit-wrapper__tab__list__tag
            - product.images.each do |image| 
              = image_tag image  