.wrapper
    = render 'shared/exhibition_button'
    = render 'shared/header'
    = render 'products/main'
<<<<<<< HEAD
    = render 'products/footer'
    
=======
    = render 'shared/footer'
>>>>>>> master
