.entire
  %header.header-new
    %h1.header-new__logo
      = link_to root_path, class:'container__logo__link' do
        = image_tag("#{asset_path "products/new/logo1.png"}",class:"new-logo-icon")
  .main
    .main__sell
      %h2.main__sell__text 商品の情報を入力

      = form_for @product,html: { class: 'form' } do |f|

        .form__upload
          %h3.form__upload__imgtext 出品画像
          %p.form__upload__text 最大10枚までアップロードできます
          .form__upload__dropbox
            %ul.image-container
            .form__upload__dropbox__visible{id: "top-dropbox"}
              %p 
                ドラッグアンドドロップ
                またはクリックしてファイルをアップロード
              %label.form__upload__dropbox__visible__label{for: "hidden1"}
                = f.file_field :images, class: 'hidden' ,id:'hidden1'
              %label.form__upload__dropbox__visible__label{for: "hidden2"}
                = f.file_field :images, class: 'hidden' ,id:'hidden2'
              %label.form__upload__dropbox__visible__label{for: "hidden3"}
                = f.file_field :images, class: 'hidden' ,id:'hidden3'
              %label.form__upload__dropbox__visible__label{for: "hidden4"}
                = f.file_field :images, class: 'hidden' ,id:'hidden4'
              %label.form__upload__dropbox__visible__label{for: "hidden5"}
                = f.file_field :images, class: 'hidden' ,id:'hidden5'
          

        .sell-content
          .sell-content__group1
            = f.label :商品名, class:"sell-content__group1__label"
            = f.text_field :name, class: "sell-content__group1__input", placeholder:"商品名（必須 40文字まで)", value:""

          .sell-content__group2
            = f.label :商品の説明, class:"sell-content__group2__label" #商品の説明
            = f.text_area :description, class:"sell-content__group2__input", placeholder:"商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", value:""


        .item-detail
          %h3.item-detail__sub-head 商品の詳細
          .item-detail__form-box
            .item-detail__form-box__group1
              = f.label :カテゴリー, class:"item-detail__form-box__group1__label" #カテゴリー
              .item-detail__form-box__group1__select-wrap1
                = f.collection_select :category_id, @parent, :id, :name,{prompt: "---"},class:"category__box__parent item-detail__form-box__group__select-wrap__select-default"
                %i.fa.fa-chevron-down.fa-lg

              .item-detail__form-box__group1__select-wrap2
                = f.collection_select :category_id, @children, :id, :name,{prompt: "---"},class:"category__box__child item-detail__form-box__group__select-wrap__select-default"
                %i.fa.fa-chevron-down.fa-lg

              .item-detail__form-box__group1__select-wrap3
                = f.collection_select :category_id, @grand_children, :id, :name,{prompt: "---"},class:"category__box__grandchild item-detail__form-box__group__select-wrap__select-default"
                %i.fa.fa-chevron-down.fa-lg

            .item-detail__form-box__group2
              = f.label :サイズ, class:"item-detail__form-box__group2__label"
              .item-detail__form-box__group2__select-wrap
                = f.select :size, [["---", "---"],["XXS以下", "XXS以下"], ["XS(SS)", "XS(SS)"],["S","S"],["M","M"],["L","L"],["XL(LL)","XL(LL)"],["2XL(3L)","2XL(3L)"],["3XL(4L)","3XL(4L)"],["4XL(5L以上)","4XL(5L以上)"],["FREE SIZE","FREE SIZE"] ], {} ,class:"item-detail__form-box__group__select-wrap__select-default"
                %i.fa.fa-chevron-down.fa-lg


            .item-detail__form-box__group3
              = f.label :ブランド, class:"item-detail__form-box__group3__label"
              .item-detail__form-box__group3__select-wrap
                -# =f.select :brand, 
                %i.fa.fa-chevron-down.fa-lg


            .item-detail__form-box__group4
              = f.label :商品の状態, class:"item-detail__form-box__group3__label"
              .item-detail__form-box__group4__select-wrap
                = f.select :state, [["---", "---"],["新品、未使用", "新品、未使用"], ["未使用に近い", "未使用に近い"],["目立った傷や汚れなし","目立った傷や汚れなし"],["やや傷や汚れあり","やや傷や汚れあり"],["傷や汚れあり","傷や汚れあり"],["全体的に状態が悪い","全体的に状態が悪い"] ], {} ,class:"item-detail__form-box__group__select-wrap__select-default"
                %i.fa.fa-chevron-down.fa-lg


        .delivery
          %h3.delivery__sub-head 配送について
          .delivery__form-box
            .delivery__form-box__group1
              = f.label :配送料の負担 , class:"delivery__form-box__group1__label1"

              .delivery__form-box__group1__select-wrap1
                = f.select :postage, [["---", "---"],["送料込み(出品者負担)", "送料込み(出品者負担)"],["着払い(購入者負担)", "着払い(購入者負担)"] ], {} , class:"item-detail__form-box__group__select-wrap__select-default"
                %i.fa.fa-chevron-down.fa-lg


            
            .delivery__form-box__group2
              = f.label :発送元の地域, class:"delivery__form-box__group2__label2"

              .delivery__form-box__group2__select-wrap2
                = f.collection_select :prefecture_id, Prefecture.all, :id, :name,{prompt: "---"}, class:"item-detail__form-box__group__select-wrap__select-default"
                 
                %i.fa.fa-chevron-down.fa-lg

            .delivery__form-box__group3
              =f.label :発送までの日数, class:"delivery__form-box__group3__label3" 

              .delivery__form-box__group3__select-wrap3
                = f.select :shipping_date, [["---", "---"],["1~2日で発送", "1~2日で発送"], ["2~3日で発送", "2~3日で発送"],["4~7日で発送", "4~7日で発送"] ], {} , class:"item-detail__form-box__group__select-wrap__select-default"

                %i.fa.fa-chevron-down.fa-lg


        .sale-price
          %h3.sale-price__sub-head 販売価格(300〜9,999,999)
          .sale-price__form-box
            .sale-price__form-box__first
              .sale-price__form-box__first__inside
                = f.label :価格, class:"sale-price__form-box__first__inside__label"

                .sale-price__form-box__first__inside__price
                  %p.sale-price__form-box__first__inside__price__text ¥
                  = f.text_field :price, class:"sale-price__form-box__first__inside__price__input", placeholder:"例）300"


            .sale-price__form-box__second
              .sale-price__form-box__second__label 販売手数料(10%)
              .sale-price__form-box__second__mark1

            .sale-price__form-box__third
              .sale-price__form-box__third__label 販売利益
              .sale-price__form-box__third__mark1


        .sell-btn-box
          .sell-btn-box__inner
            %p.ban       
              = link_to"禁止されている出品","#"
              = link_to"行為","#"
              を必ずご確認ください。
            %p.ban
              またブランド品でシリアルナンバー等がある場合はご記載ください。
            %p.ban
              = link_to"偽ブランドの販売","#"
              は犯罪であり処罰される可能性があります。
            
            %p.ban
              また、出品をもちまして
              = link_to"加盟店規約","#"
              に同意したことになります。

          =f.submit  "出品する" , class:"sell-btn-box__btn" 
          = link_to  "もどる", :back, class:'sell-btn-box__link'
          

  %footer.footer-terms
    .footer__inner
      %ul.footer__inner__links
        %li.footer__inner__links__link1
          = link_to"プライバシーポリシー","#"

        %li.footer__inner__links__link2
          = link_to"メルカリ利用規約","#"

        %li.footer__inner__links__link2
          = link_to"特定商取引に関する表記","#"

      .footer__inner__logo
        = link_to root_path,class:'footer-inner__logo__link' do
          = image_tag("#{asset_path "products/new/logo2.png"}",class:"new-logo2-icon")

      %p.footer__inner__c-mark  
        %small © 2019 Mercari