%div.entire
  %header.header
    %h1.header__logo
      = link_to '' , class:'container__logo__link' do
        = image_tag('//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1905591235' , size: '185x50', alt:'mercari')

  %div.main
    %div.main__sell
      %h2.main__sell__text 商品の情報を入力

      = form_for @user,html: { class: 'form' }  do |f|

        %div.form__upload
          %h3.form__upload__imgtext 出品画像
          %p.form__upload__text 最大10枚までアップロードできます
          %div.form__upload__dropbox
            = f.text_area :email, class: "form__upload__dropbox__file"
            %pre.form__upload__dropbox__visible 


            ドラッグアンドドロップ 
            %br またはクリックしてファイルをアップロード


        %div.sell-content
          %div.sell-content__group1
            = f.label :email,"商品名", class:"sell-content__group1__label"
            = f.text_field :email, class: "sell-content__group1__input", placeholder:"商品名（必須 40文字まで)", value:""

          %div.sell-content__group2
            = f.label :email,"商品の説明", class:"sell-content__group1__label" #商品の説明
            = f.text_area :email , class:"sell-content__group1__input", placeholder:"商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", value:""


        %div.item-detail
          %h3.item-detail__sub-head 商品の詳細
          %div.item-detail__form-box
            %div.item-detail__form-box__group1
              = f.label :email,"カテゴリー",class:"item-detail__form-box__group1__label1" #カテゴリー

              %div.item-detail__form-box__group1__select-wrap1
                = f.collection_select :email, Prefecture.all, :id, :name ,{},class:"item-detail__form-box__group1__select-wrap1__select-default1"
                %i.fa.fa-chevron-down.fa-lg

            %div.item-detail__form-box__group2
              =f.label :email,"商品の状態",class:"item-detail__form-box__group2__label2"

              %div.item-detail__form-box__group2__select-wrap2
                =f.select :email , [["---", "---"],["新品、未使用", "新品、未使用"], ["未使用に近い", "未使用に近い"],["目立った傷や汚れなし","目立った傷や汚れなし"],["やや傷や汚れあり","やや傷や汚れあり"],["傷や汚れあり","傷や汚れあり"],["全体的に状態が悪い","全体的に状態が悪い"] ], {} ,calss:"item-detail__form-box__group2__select-wrap2__select-default2"
                %i.fa.fa-chevron-down.fa-lg

        %div.delivery
          %h3.delivery__sub-head 配送について
          %div.delivery__form-box
            %div.delivery__form-box__group1
              =f.label :email,"配送料の負担",class:"delivery__form-box__group1__label1"

              %div.delivery__form-box__group1__select-wrap1
                =f.select :email , [["---", "---"],["送料込み(出品者負担)", "送料込み(出品者負担)"], ["着払い(購入者負担)", "着払い(購入者負担)"] ],  {} , {class:"delivery__form-box__group1__select-wrap1__select-default1"}
                %i.fa.fa-chevron-down.fa-lg


            
            %div.delivery__form-box__group2
              =f.label :email,"発送元の地域",class:"delivery__form-box__group2__label2"

              %div.delivery__form-box__group2__select-wrap2
                = f.collection_select :email, Prefecture.all, :id, :name,{},class:"delivery__form-box__group2__select-wrap2__select-default2"
                 
                %i.fa.fa-chevron-down.fa-lg

            %div.delivery__form-box__group3
              =f.label :email,"発送までの日数",class:"delivery__form-box__group3__label3" 

              %div.delivery__form-box__group3__select-wrap3
                = f.select :email , [["---", "---"],["1~2日で発送", "1~2日で発送"], ["2~3日で発送", "2~3日で発送"],["4~7日で発送", "4~7日で発送"] ], {} , {class:"delivery__form-box__group3__select-wrap3__select-default3"}

                %i.fa.fa-chevron-down.fa-lg

        %div.sale-price
          %h3.sale-price__sub-head 販売価格(300〜9,999,999)
          %div.sale-price__form-box
            %div.sale-price__form-box__first
              %div.sale-price__form-box__first__inside
                = f.label :email,"価格", class:"sale-price__form-box__first__inside__label"

                %div.sale-price__form-box__first__inside__price
                  %p.sale-price__form-box__first__inside__price__text ¥
                  = f.text_field :email , class:"sale-price__form-box__first__inside__price__input",placeholder:"例）300"


            %div.sale-price__form-box__second
              %div.sale-price__form-box__second__label 販売手数料(10%)
              %div.sale-price__form-box__second__mark1

            %div.sale-price__form-box__third
              %div.sale-price__form-box__third__label 販売利益
              %div.sale-price__form-box__third__mark1



        %div.sell-btn-box
          %div.sell-btn-box__inner
            %p       
              = link_to"禁止されている出品","#"
              ,
              = link_to"行為","#"
              を必ずご確認ください。
            %p
              またブランド品でシリアルナンバー等がある場合はご記載ください。
            %p
              = link_to"偽ブランドの販売","#"
              は犯罪であり処罰される可能性があります。
            
            %p
              また、出品をもちまして
              = link_to"加盟店規約","#"
              に同意したことになります。

          =f.button  "出品する" , class:"sell-btn-box__btn" ,type: "submit"
          = link_to  "もどる","#", {class:'sell-btn-box__link'}
          

  %footer.footer-terms
    %div.footer__inner
      %ul.footer__inner__links
        %li.footer__inner__links__link1
          = link_to"プライバシーポリシー","#"

        %li.footer__inner__links__link2
          = link_to"メルカリ利用規約","#"

        %li.footer__inner__links__link2
          = link_to"特定商取引に関する表記","#"

      %div.footer__inner__logo
        = link_to"特定商取引に関する表記",class:'footer-inner__logo__link' do
          = image_tag('//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?270352715' , size: '80x65', alt:'mercari',class:'logo__img')

      %p.footer__inner__c-mark  
        %small © 2019 Mercari

