.productshow__contents
  .productshow
    .productshow__name 
      チャコネット　ワンピース　サイズS
  
    .productshow__photos
      .productshow__photos__top-photo
        %img{src:"#{asset_path "products/top1.jpg"}"}
      .productshow__photos__small-photos
        %img{src:"#{asset_path "products/top1.jpg"}"}
        %img{src:"#{asset_path "products/top1.jpg"}"}
        %img{src:"#{asset_path "products/top1.jpg"}"}
        %img{src:"#{asset_path "products/top1.jpg"}"}
        %img{src:"#{asset_path "products/top1.jpg"}"}
        %img{src:"#{asset_path "products/top1.jpg"}"}
        %img{src:"#{asset_path "products/top1.jpg"}"}
        %img{src:"#{asset_path "products/top1.jpg"}"}

    %table{:border => "1"}
      %tr
        %th 出品者
        %td user名
      %tr
        %th カテゴリー
        %td レディース
      %tr
        %th ブランド
        %td コーチ
      %tr
        %th 商品のサイズ
        %td S
      %tr
        %th 商品の状態
        %td やや傷や汚れあり
      %tr
        %th 配送料の負担
        %td 送料込み（出品者負担）
      %tr
        %th 配送の方法
        %td ゆうゆうメルカリ便
      %tr
        %th 配送元地域
        %td ゆうゆうメルカリ便
      %tr
        %th 発送日の目安
        %td 1~2日で発送
      
      
      

       

   

        -# %li
        -#   .productshow__item__left
        -#     配送の方法
        -#   %a.productshow__item__right
        -#     らくらくメルカリ便

        -# %li
        -#   .productshow__item__left
        -#     発送日の目安
        -#   %a.productshow__item__right
        -#     大阪府

        -# %li
        -#   .productshow__item__left
        -#     発送日の目安
        -#   .productshow__item__right
        -#     ２〜３日で発送

      


