.productshow
  .productshow__main
    .productshow__name 
      = @product.name

    #wrap
      %ul#slider
        %li.slide-item
          = image_tag('products/bag1.jpg')
        %li.slide-item
          = image_tag('products/bag2.jpg')
        %li.slide-item
          = image_tag('products/bag3.jpg')
        %li.slide-item
          = image_tag('products/bag4.jpg')
        %li.slide-item
          = image_tag('products/bag5.jpg')
        
      %ul#thumbnail-list
        %li.thumbnail-item
          = image_tag('products/bag1.jpg')
        %li.thumbnail-item
          = image_tag('products/bag2.jpg')
        %li.thumbnail-item
          = image_tag('products/bag3.jpg')
        %li.thumbnail-item
          = image_tag('products/bag4.jpg')
        %li.thumbnail-item
          = image_tag('products/bag5.jpg')
      
    %table.productshow__table
      %tr
        %th 
          出品者
        %td
          .productshow__table__name
            = link_to user_path(1) do
              = @user.nickname
          .rate
            .rate__score
              %i.fas.fa-laugh
              %p.rating-score__p
                0
            .rate__score
              %i.fas.fa-meh
              %p 0
            .rate__score 
              %i.fas.fa-frown
              %p 0
            .rate__score 
      %tr
        %th カテゴリー
        %td 
          レディース
          .like
            %i.fa.fa-angle-right
            %span
              バッグ
          .like
            %i.fa.fa-angle-right
            %span
              ハンドバッグ
      %tr
        %th ブランド
        %td コーチ
      %tr
        %th 商品のサイズ
        %td 
          = @product.size
      %tr
        %th 商品の状態
        %td 
          = @product.state
      %tr
        %th 配送料の負担
        %td 
          = @product.postage
      %tr
        %th 配送の方法
        %td
          = @product.name
      %tr
        %th 配送元地域
        %td 大阪
      %tr
        %th 発送日の目安
        %td 
          = @product.shipping_date
          日で発送
  
  
    .productshow__price
      %span.productshow__price__yen
        ¥
        = @product.price
      %span.productshow__price__tax
        (税込)
      %span.productshow__price__shopping-fee
        = @product.postage
    .productshow__shopping-botton
      = link_to '購入画面に進む',buy_confirmation_product_path
    .productshow__description
      %p.productshow__description__inner
        = @product.description
    %button.like
      %i.far.fa-heart
      %span
        いいね！
        %span.like__number
          1
.comment
  .comment__main
    .comment__main__content

      %form.message-form{action: "#", method: "POST"}
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea.textarea-default{name: "body", type: "text", value: ""}
      .comment__main__content__button
        = link_to 'コメントする','#'
