.productshow
  .productshow__main
    .productshow__name 
      おしゃれなカバン　

    #wrap
      %ul#slider
        %li.slide-item
          = image_tag("#{asset_path "products/bag1.jpg"}")
        %li.slide-item
          = image_tag("#{asset_path "products/bag2.jpg"}")
        %li.slide-item
          = image_tag("#{asset_path "products/bag3.jpg"}")
        %li.slide-item
          = image_tag("#{asset_path "products/bag4.jpg"}")
        %li.slide-item
          = image_tag("#{asset_path "products/bag5.jpg"}")
        
      %ul#thumbnail-list
        %li.thumbnail-item
          = image_tag("#{asset_path "products/bag1.jpg"}")
        %li.thumbnail-item
          = image_tag("#{asset_path "products/bag2.jpg"}")
        %li.thumbnail-item
          = image_tag("#{asset_path "products/bag3.jpg"}")
        %li.thumbnail-item
          = image_tag("#{asset_path "products/bag4.jpg"}")
        %li.thumbnail-item
          = image_tag("#{asset_path "products/bag5.jpg"}")
      
    %table.productshow__table
      %tr
        %th 
          出品者
        %td
          .productshow__table__name
            = link_to "yuki" ,"/users" 
          .rate
            .rate__score
              %i.fas.fa-laugh
              %p.rating-score__p
                0
            .rate__score
              %i.fas.fa-meh
              %p 0
            .rate__score 
              %i.fas.fa-frown
              %p 0
            .rate__score 
      %tr
        %th カテゴリー
        %td 
          レディース
          .like
            %i.fa.fa-angle-right
            %span
              バッグ
          .like
            %i.fa.fa-angle-right
            %span
              ハンドバッグ
      %tr
        %th ブランド
        %td コーチ
      %tr
        %th 商品のサイズ
        %td S
      %tr
        %th 商品の状態
        %td やや傷や汚れあり
      %tr
        %th 配送料の負担
        %td 送料込み（出品者負担）
      %tr
        %th 配送の方法
        %td ゆうゆうメルカリ便
      %tr
        %th 配送元地域
        %td 大阪
      %tr
        %th 発送日の目安
        %td 1~2日で発送
  
  
    .productshow__price
      %span.productshow__price__yen
        ¥3,000
      %span.productshow__price__tax
        (税込)
      %span.productshow__price__shopping-fee
        送料込み
    .productshow__shopping-botton
      = link_to '購入画面に進む','#'
    .productshow__description
      %p.productshow__description__inner
        人気のコーチ パッチワークシグネチャー×パイソン ショルダーバッグです♪(ᴖ◡ᴖ)♪ 
        斜めがけ用のショルダーバッグで長さ調整可能

        アウトレットファクトリー品ではなく直営店購入品です。
        ヴィンテージに近いオールドコーチ期のレア品。

        お値引きについては出品時から特価で出しておりますので行っておりません。
        複数購入時のみご相談いただければ幸いです。
    %button.like
      %i.far.fa-heart
      %span
        いいね！
        %span.like__number
          1
    
    
.comment
  .comment__main
    .comment__main__content

      %form.message-form{action: "#", method: "POST"}
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea.textarea-default{:name => "body", :type => "text", :value => ""}
      .comment__main__content__botton
        = link_to 'コメントする','#'
      




      


