.productshow
  .productshow__main
    .productshow__name 
      チャコネット　ワンピース　サイズS

    .productshow__photos
      .productshow__photos__top-photo
        %img{src:"#{asset_path "products/top1.jpg"}"}
      .productshow__photos__small-photos
        %img{src:"#{asset_path "products/top1.jpg"}"}
        %img{src:"#{asset_path "products/top1.jpg"}"}
        %img{src:"#{asset_path "products/top1.jpg"}"}
        %img{src:"#{asset_path "products/top1.jpg"}"}
        %img{src:"#{asset_path "products/top1.jpg"}"}
        %img{src:"#{asset_path "products/top1.jpg"}"}
        %img{src:"#{asset_path "products/top1.jpg"}"}
        %img{src:"#{asset_path "products/top1.jpg"}"}
  
    %table.productshow__table
      %tr
        %th 出品者
        %td ゆき
      %tr
        %th カテゴリー
        %td レディース
      %tr
        %th ブランド
        %td コーチ
      %tr
        %th 商品のサイズ
        %td S
      %tr
        %th 商品の状態
        %td やや傷や汚れあり
      %tr
        %th 配送料の負担
        %td 送料込み（出品者負担）
      %tr
        %th 配送の方法
        %td ゆうゆうメルカリ便
      %tr
        %th 配送元地域
        %td 大阪
      %tr
        %th 発送日の目安
        %td 1~2日で発送
  
  
    .productshow__price
      %span.productshow__price__yen
        ¥3,000
      %span.productshow__price__tax
        (税込)
      %span.productshow__price__shopping-fee
        送料込み
    .productshow__shopping-botton
      = link_to '購入画面に進む','#'
    .productshow__description
      %p.productshow__description-inner
        アドレス
        コート

        グレー
        サイズは11号
        マフラー付き

        ウール100%

.comment
  .comment__main
    .comment__main__content

      %form.message-form{action: "#", method: "POST"}
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        -# %input{:name => "item_id", :type => "hidden", :value => "m26175828589"}
        -# %input{:name => "redirect_url_key", :type => "hidden", :value => "item_detail"}
        %textarea.textarea-default{:name => "body", :type => "text", :value => ""}
      .comment__main__content__botton
        = link_to 'コメントする','#'
  

      


